<div class="albumpage">
	<div class="albumpageinfo">
		<img class="albumimgsrc" src="" />
		<div class="albumpagealbum"></div>
		<div class="albumpageartist"></div>
	</div>
	<div class="albumtracklistheader">
		<div class="tracklistheadernum">#</div>
		<div class="tracklistheadertitle">SONG</div>
		<div class="tracklistheaderduration">Duration</div>
		<div class="tracklistheaderpopularity">Popularity</div>
		<div class="tracklistheaderplays">Plays</div>
	</div>
	<div class="albumtracklist"></div>
</div>
