<div class="bottombar">
		<div class="audio-player">
			<div class="audio-controls">
				<div class="prevtrack"><img class="prevbutton" src="images/player/prevtrack.png" /></div>
				<div class="control">
					<img class="control-img-pause hideimg" src="images/player/pause.png"/>
					<img class="control-img-play" src="images/player/play.png"/>
				</div>
				<div class="nexttrack"><img class="nextbutton" src="images/player/nexttrack.png" /></div>
			</div>
			<div class="seeker">
				<div class="audioinfo">Artist - Song</div>
				<div class="progressbar">
					<div class="currprogress">0:00</div>
					<div class="progressindicator">
						<div class="musicprogress">
							<div class="musicprogressbackground"></div>
						</div>
					</div>
					<div class="duration">0:00</div>
				</div>
			</div>
			<div class="showvideo"><img class="showvideobutton" src="images/player/showvideo.png" /></div>
			<div class="thevolume volhidden"><img class="volumebutton" src="images/player/volume.png" /></div>
			<input class="volumepop volpophidden" type="range" min="0" max="1" value="0.5" step="any"/>
		</div>
  </div>
{{yield}}
