<div class="beatbro-remote-nli">
	<img class="beatbro-remote-img" src="/images/site/multidevices.png"><br>
	<div class="useremote" {{action "login"}}>Login to use this feature.</div>
</div>

<div class="beatbro-remote">
	<div class="remotehost"><img class="beatbro-host-img" src="/images/site/hosticond.png">Set this device as Host</div>
	<div class="remotejoin"><img class="beatbro-join-img" src="/images/site/joinicond.png">Join</div>
</div>

<div class="host-settings">
	Join Password: <input type="text" placeholder="Join Password" class="joinpassword"><br>
	<label for="joinpassword">Join Password</label><br>
	Default Join Settings: <input type="radio" name="joinsetting" value="fullcontrol" class="joinsettingsfull">Full Control
  <input type="radio" name="joinsetting" value="viewonly" class="joinsettingsview">View Only<br>
	<label for="joinsettings">Join Settings</label><br>
	<input type="button" name="starthosting" value="Start Hosting" class="starthosting">
</div>
