<div class="searcharea">
<div class="slim-scroller">
	<input type="hidden" class="clickedsongtitle" value="">
	<div class="searchwaiting"></div>
	<div class="searchcontent searchcontenthidden">
		<div class="searchartistheading searchartistheadinghidden">Artists
			<div class="searchartistarea searchartisthidden">
			</div>
		</div>
		<div class="searchsongheading searchsongheadinghidden">Songs
			<div class="searchsongarea searchsonghidden">
			</div>
		</div>
		<div class="searchalbumheading searchalbumheadinghidden">Albums
			<div class="searchalbumarea searchalbumhidden">
			</div>
		</div>
	</div>
</div>
</div>