<div class="loginform">
	<h1>Login</h1>
	<input type="text" class="loginusername" placeholder="Username"><br>
	<input type="password" class="loginpassword" placeholder="Password"><br>
	<input type="checkbox" name="remember" value="remember"> Remember me<br>
	<button type="button" class="loginbutton" {{action 'login'}}>Login</button><br><br>
</div>