<div class="modal-fog fogsmall">
        <div class="modal-frame framesmall">
			<div class="modal-close hidemodalclose">
					<img src="images/site/closebutton.png"/> 
			</div>
			<div id="ytapicode"></div>
			<div id="ytplayer"></div>
        </div>
<div class="playerstate">none</div>
</div>