<div class="playlistnav">
	<div class="playlistcurrentbutton"></div>
	<div class="myplaylistsbutton"></div>
	<div class="playlistbuilderbutton"></div>
	<div class="playlisthistorybutton"></div>
</div>
<div class="playlistarea">
	<div class="playlistcurrent">
		<div class="playlistcontent">
			Currently Playing
			<div class="slim-scroller">
				<div class="currentlyplaying">
				</div>
			</div>
		</div>
	</div>
	<div class="myplaylists playlisthidden">
	My Playlists
		<div class="playlistcontent"></div>
	</div>
	<div class="playlistbuilder playlisthidden">
	Playlist Builder<br>
	Drag and Drop tracks to this area here
		<div class="playlistcontent"></div>
	</div>
</div>
