<div class="authnavlinks">
	<div class="loginbutton" {{action "login"}}>Login</div><div class="signupbutton" {{action "signup"}}>Sign Up</div><div class="playlistbutton"><img src="/images/site/playlistbutton.png" /></div>
</div>
<div class="usernavlinks">
	<div class="hostingindicator"></div>
	<div class="userdropdownbutton">
		<div class="userimage"></div><div class="userbutton"></div>
		<div class="user-dropdown">
			<a class="gtuseraccount" {{action "account"}}>Account</a><br>
			<a class="gtlogout" {{action "logout"}}>Log Out</a>
		</div>
	</div>
	<div class="playlistbutton"><img src="/images/site/playlistbutton.png" /></div>
</div>
<input type="hidden" class="loginfrom" value="">
