<div class="topnav">
	<a href="#" class="home"><div class="logo"><img src="/images/site/logo.png" /></div></a>
		<div class="navlinks">
			<a href="#" class="loginbutton">Login</a>
			<a href="#" class="signupbutton">Sign Up</a>
		</div>
</div>
<div class="leftbar">
		<div class="leftlinks">
			<a href="#" class="popularalbums"><div class="leftlink">Popular Albums</div></a>
			<a href="#" class="newreleases"><div class="leftlink">New Releases</div></a>
			<a href="#" class="top50"><div class="leftlink">Top 50</div></a>
			<a href="#" class="populargenres"><div class="leftlink">Popular Genres</div></a><br>
		</div>
</div>
<div class="rightbar">
</div>